.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: Arial, sans-serif;
}

.palette, .canvas {
  width: 80%;
  height: 300px;
  margin: 20px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
}

.canvas {
  min-height: 300px;  /* Set a minimum height */
  width: 80%;
  margin: 20px 0;
  
}



/* Add styling for individual blocks in the canvas */
.canvas > div {
  margin: 0px;
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  position: relative;

  flex-direction: column;  /* Adjust the direction */
  border: 1px solid black;
  background-size: 40px 40px;
  background-image:
      linear-gradient(to right, rgb(0, 0, 0) 1px, transparent 1px),
      linear-gradient(to bottom, rgb(0, 0, 0) 1px, transparent 1px);

}

.canvas div > div {
  margin: 5px;
  padding: 10px;
  border: 1px solid black;
  background-color: #FFF;  /* Add a solid white background */
}

.palette > div, .proper > div {
  margin: 10px;
  padding: 10px;
  border: 1px solid black;
  border-radius: 5px;
  background-color: #f0f0f0;
  cursor: 'grab';
}
